<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>

<form enctype="multipart/form-data">
    <input type="file" name="file" id="file">
    <input type="file" name="file" id="file2">

    <p>
        <button onclick="uploadFile(event);">Upload(Formidable)</button>
    </p>


</form>

<script>
  function uploadFile(event) {
    event.preventDefault();


    var formData = new FormData(document.forms[0]);

    var xhr = new XMLHttpRequest();
    xhr.onload = function (evt) {
      if ((xhr.status >= 200 && xhr.status < 300) || xhr.status == 304) {
        alert('upload success');
      } else {
        alert('upload onload error: ' + xhr.status);
      }
    };

    xhr.onerror = function (err) {
      alert('upload onerror error:' + err);
    };

    xhr.onprogress = function (evt) {
      if (evt.lengthComputable) {
        console.log(evt.loaded + '/' + evt.total);
      }
    };
    xhr.open('post', 'http://localhost:3000/upload/formidable', true);
    xhr.send(formData);
  }
</script>
</body>
</html>
